
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: slategrey;
    @media screen and (max-width: 1200px) and (min-width: 480px)  {
        background: white;
    }
}
header{
    background: white;
    padding: 20px;
}
header > h1{
     color: slategrey;
     text-align: center;
     font-family: 'Roboto Mono', sans-serif;
     font-size: 40px;
     

}
.score-keeper{
    margin: 20px auto; 
    border: 4px solid white;
    border-radius: 9px;
    text-align: center;
    width: 250px;
    color: white;
    font-size: 40px;
    padding: 20px 25px;
    font-family: 'Roboto Mono', sans-serif;
    position: relative;
}
.badge {
    background: violet;
    color: white;
    font-size: 16px;
    font-family: 'Roboto Mono', sans-serif;
    padding: 2px 10px;
    border-radius: 5px;

}
#player{
    position: absolute;
    top: 30px;
    left: -40px;
}
#comp{
    position: absolute;
    top: 30px;
    right: -40px
}
 .result {
     font-size: 40px;
     color: white;
 }

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Mono', sans-serif;
}
.restart{
    font-family: 'Roboto Mono', sans-serif;
    width: 150px;
    height: 75px;
    border-radius: 9px;
    border: violet;
    color:black;
    background:linear-gradient(to right, #a8ff78, #78ffd6);
    box-shadow: inset 0 0 0 0 yellowgreen;
    transition: ease out 0.3;
    font-size: 2rem;
    outline: none;
}

.restart:hover{
    cursor: pointer;
    box-shadow: inset 150px 0 0 0 violet;
    color: black;
}
img{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
   
    @media (max width: 1200px){
        display: block;
        width: 50px;
    }


}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin: 10px auto;
    @media screen { min-width: 480px; max-width: 1200px;
        margin:5px;

        
        
    }
}
.user-choice{
    border: 10px solid violet;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin: 20px 20px;
    padding: 10px;
   display: inline-block;
   transition: all 0.4s ease;
}
.user-choice :hover{
    cursor: pointer;
     background-color: yellow}
     
/* Border Animation Pure CSS & HTML - Gradient Border Color youtube vdo by Daily Tuition
use uigradients.com */